<h1 style="text-align: center; margin-bottom: 100px">{{text.titulo_screen_alarm}}</h1>

<div class="row">
    <form style="text-align: center">
        <button type="submit" class="btn btn-default" ng-click="finalizar()">{{text.finalizar}}</button>
    </form>
</div>