<h1 style="text-align: center; margin-bottom: 100px">{{text.titulo_screen}}</h1>

<span ng-show="!text.finalizar" us-spinner></span>

<div ng-show="text.finalizar" class="row">
    <form style="text-align: center">
        <button style="{{btn_aspecto}}" type="submit" class="btn btn-default" ng-click="finalizar()">{{text.finalizar}}</button>
    </form>
</div>