<link rel="stylesheet" href="{{css_keyboard}}" />

<div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="form-group container-fluid">
                <input style="text-transform:uppercase; {{input_aspecto}}" class="form-control type="text" id="doc" placeholder="{{text.intro_doc}}">
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>    
    
    <br/>

<div class="row">
    <div class="col-xs-12">
        <div id="keyboard"></div>
    </div>

</div>