<h2 style="text-align: center">{{text.titulo_screen_firma}}</h2>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <canvas width="{{firma_canvas_width}}" height="{{firma_canvas_height}}" style="border:1px solid #000000;" id="canvas"></canvas>        
    </div>
</div>
<div class="row">
    <form style="text-align: center">
        <button  type="submit" class="btn btn-default" ng-click="firmar()">{{text.firmar}}</button>
    </form>
</div>