<link rel="stylesheet" href="{{css_keyboard}}" />
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{text.cambio_idioma}}</h3>
            </div>
            <div style="text-align: center" class="panel-body">
                <div class="btn-group-vertical">

                    <button ng-repeat="(key, bandera) in banderas" style="margin-bottom: {{sep_bandera}}" class="btn btn-default">
                        <img ng-click="change_language(key)" ng-src="{{ bandera }}" height="{{bandera_altura}}" />
                    </button>                                                                                                                   
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="panel panel-primary container-fluid">
            <div class="panel-heading row">
                <h3 class="panel-title">{{text.con_clave}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <input ng-keypress="intro($event)" style="{{input_aspecto}}" class="form-control" type="text" id="codigo">
                    </div>
                </div>                
                <div class="row">
                    <div id="keyboard"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{text.con_codigo}}</h3>
            </div>
            <div style="text-align: center" class="panel-body">
                <h4>{{text.aproxime_codigo_lector}}</h4>
                <img src="./images/lector.png" height="{{img_scanner_altura}}" />

            </div>
        </div>
    </div>
</div>