<h1>Menu</h1>

<ul>
    <li><a ui-sref="inicio">Inicio</a></li>
    <li><a ui-sref="alarm">Alarm</a></li>
    <li><a ui-sref="doc">Doc</a></li>
    <li><a ui-sref="doors_opened">Doord opened</a></li>
    <li><a ui-sref="end">End</a></li>
    <li><a ui-sref="error_code">Error Code</a></li>
    <li><a ui-sref="error_doc">Error Doc</a></li>
    <li><a ui-sref="error_nif">Error NIF</a></li>
    <li><a ui-sref="error_phone">Error Phone</a></li>
    <li><a ui-sref="firm">Firm</a></li>
    <li><a ui-sref="insert_package">Insert Package</a></li>
    <li><a ui-sref="nif">NIF</a></li>
    <li><a ui-sref="package_inserted">Package Inserted</a></li>
    <li><a ui-sref="package_removed">Package Removed</a></li>
    <li><a ui-sref="phone">Phone</a></li>
    <li><a ui-sref="remove_package">Remove Package</a></li>
</ul>