html { 
    background: url(../images/fondo.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

body {
    background: transparent;
    cursor: none;
}

.widget-clock .digital {
    text-align:left;
}
.widget-clock .time {
    font-family:'Syncopate',sans-serif;
    font-size:1.5em;
    margin:0
}

.panel-body {
    /* height: 480px; */
    height: calc(100vh - 160px);
    overflow-y: auto; 
}

.btn-default {
    padding-bottom: 2px;
    padding-top: 2px
}

.btn {
    
    font-size: 24px;
    
}
